{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{{ path('app_connect_facebook') }}" class="btn facebook">Facebook</a>
    </div>
    <div class="col-md-12">
        <h2>LOGIN</h2>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form class="" action="{{ path('app_login_check') }}" method="post">
            <div>
                <input type="email" name="_username" placeholder="Email">
                <input type="password" name="_password" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn">ENTRAR</button>
        </form>
        <p>If you not have an account, please <a href="{{ path('app_register') }}">Register</a></p>
    </div>
</div>
{% endblock %}