{% macro success(text) %}
<div class="alert alert-success">
    {{ text }}
</div>
{% endmacro %}

{% macro info(text) %}
<div class="alert alert-info">
    {{ text }}
</div>
{% endmacro %}

{% macro error(text) %}
<div class="alert alert-danger">
    {{ text }}
</div>
{% endmacro %}

{% macro warning(text) %}
<div class="alert alert-warning">
    {{ text }}
</div>
{% endmacro %}
