{% macro pagination(paginator, options) %}
{% if paginator.haveToPaginate()|default(false) %}
<div class="row">
    <div class="col-sm-5">
        <div class="btn-group paginator">
            {{ sylius_resource_paginate(paginator, [10,20,30]) }}
        </div>
    </div>
    <div class="col-xs-7">
       <div class="pull-right">
           {{ pagerfanta(paginator, 'twitter_bootstrap3_translated', options|default({})) }}
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}