# Bootstrap
/var/bootstrap*

# Symfony directories
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

/web/css
/web/js
/web/bundles
/web/uploads/*
/web/media/*
/web/assets
/composer.lock
/node_modules

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml


# eclipse
.externalToolBuilders
.settings
.buildpath
.project

#Others
.idea
.DS_Store
bin/behat
bin/doctrine*
bin/phpspec
bin/webunit
bin/phpunit
bin/phpcrodm
bin/phpcrodm.php
bin/jackalope
bin/phpunit

deploy/deploy.rb
deploy/stages/*.rb