default:
    suites:
        participating:
            contexts:
                - FailAid\Context\FailureContext
                - FeatureContext
    extensions:
        FailAid\Extension:
            screenshot:
                directory: ./etc/build
                mode: default
                autoClean: false
        Behat\Symfony2Extension:
            kernel:
                class: App\Kernel
                path: src/Kernel.php
                bootstrap: vendor/autoload.php

        Behat\MinkExtension:
            base_url: 'http://localhost'
            selenium2:
                capabilities: {"browserName": "chrome", "browser": "chrome", 'chrome': {'switches': ['--disable-gpu', '--window-size=1280,1600']}, "marionette": true}