{% extends 'ClientAppBundle::layout.html.twig' %}

{% block content %}
<h1>Welcome to Odiseo Standard Edition</h1>

{% if app.user %}
<p>Welcome {{ app.user.username }}! <a href="{{ path('client_app_logout') }}">Logout</a></p>
{% else %}
<p>Not signed in <a href="{{ path('client_app_login') }}">Login</a></p>
{% endif %}
{% endblock %}